* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html, body{
	height: 100%;
}
.header{
	width: 100%;
	background-color: #a7dff9;
	text-align: center;
	padding: 20px;	
	display: flex;
	justify-content: center;
	gap: 10px;

}

.contato{
	
	height: 100%;
	display: flex;
	gap: 5px;
	align-items: center;
}

.topnav{
	background-color: #72bff2;
	display: flex;
	justify-content: space-evenly;
}
.topnav > a {
	display: inline-block;
	width: 25%;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
.topnav a:hover{
	background-color: #8dcff5;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}
.dropdown > a{
	display: inline-block;
	
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #72bff2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

main{
	display: flex;
	padding: 10px;
}

.lista img{
	border: 2px solid black;
}

.footer{
	width: 100%;
	padding: 20px;
	text-align: center;
	background-color: #a7dff9;
	
	
}
.form{
	background-color: #c2effc;
	border-radius: 10px;
	width: 50%;
	margin: auto;
	padding: 20px;
	height: 
}
body{
	background-color: #dcffff;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	flex-direction: column;
	height: 100%;
}

input[type=text],input[type=submit], select, input[type=email], input[type=tel]{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
	width: 100%;
}
input[type=submit]{
	background-color: #8dcff5;
	border: none;
	font-size: 20px;
}
input[type=submit]:hover{
	background-color:#a7dff9; 
	transition: background-color 0.2s;
}
.content img{
	float: left;
}
textarea{
	padding: 10px 20px;
}

